body{
    background-color: rgb(156, 152, 152);
}

.container{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 300px;
}

.bildbearbeitung{
    display: block;
    margin: auto;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
}

.schriftstyle{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: lighter;
}


.linkstyle{
    margin: 0px 5px;
    color: rgba(24, 24, 153, 0.493);
}

.linkstyle:hover{
    color: blue;
}

